// fonts
$titleFont: "Basier Circle", sans-serif;
$mainFont: "Basier Circle", sans-serif;
$headsFont: "Basier Circle", sans-serif;
$buttonFont: "Basier Circle", serif;

// colors
$primary-color: #6db353;
$primary-hover: #32a74c;
$secondary: #32a74c;
$secondary-hover: #7ef899;
$background: #d3e1d0;
$background-primary-light-grey: #f2f4f5;

// breakpoints
$breakpoint-sm: 0;
$breakpoint-md: 767px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1024px;